
ChartInsight.xcodeproj/project.xcworkspace/xcuserdata/erickennedy.xcuserdatad/IDEFindNavigatorScopes.plist
ChartInsight.xcodeproj/project.xcworkspace/xcuserdata/erickennedy.xcuserdatad/UserInterfaceState.xcuserstate
ChartInsight.xcodeproj/project.xcworkspace/xcuserdata/erickennedy.xcuserdatad/UserInterfaceState.xcuserstate
