<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>TotalRevenue</string>
			<string>Total Revenue or Sales</string>
			<string> </string>
		</array>
		<array>
			<string>CostOfSales</string>
			<string>Cost Of Sales</string>
			<string>Expenses directly associated with production of goods or services. Excludes depreciation, depletion, amortization, and SG&amp;A</string>
		</array>
		<array>
			<string>ResearchAndDevelopmentExpenses</string>
			<string>Research &amp; Development Cost</string>
			<string>Research costs without regard to immediate commercial application. Development takes research to a marketable stage.</string>
		</array>
		<array>
			<string>SellingGeneralAndAdministrativeExpenses</string>
			<string>Selling, General &amp; Administrative</string>
			<string>Includes all salaries, indirect production, marketing and general corporation expenses</string>
		</array>
		<array>
			<string>OperatingIncomeBeforeDepreciation</string>
			<string>EBITDA</string>
			<string>Earnings before interest, taxes, depreciation and amortization</string>
		</array>
		<array>
			<string>TotalNetIncome</string>
			<string>Total Net Income</string>
			<string>Net income after all charges</string>
		</array>
		<array>
			<string>BasicEPSTotal</string>
			<string>Earnings Per Share</string>
			<string>Total net income from all sources divided by weighted average common shares outstanding</string>
		</array>
	</array>
	<array>
		<array>
			<string>NetCashFromOperatingActivities</string>
			<string>Net Operating Cash Flow</string>
			<string>Net cash from continuing operations + net cash from discontinuing operations</string>
		</array>
		<array>
			<string>NetCashFromInvestingActivities</string>
			<string>Net Investing Cash Flow</string>
			<string>Net sale/purchase of property, plant, equipment + net sale/purchase of short-term investments</string>
		</array>
		<array>
			<string>FreeCashFlow</string>
			<string>Free Cash Flow</string>
			<string>Cash from operations minus purchase of plant, property and equipment minus cash dividends.</string>
		</array>
		<array>
			<string>NetCashFromFinancingActivities</string>
			<string>Net Financing Cash Flow</string>
			<string>Net stock issuance/repayment + net debt issuance minus cash dividends and financing charges</string>
		</array>
	</array>
	<array>
		<array>
			<string>ciCashAndMarketableSecurities</string>
			<string>Cash &amp; Short Term Investments</string>
			<string>Cash and marketable securities</string>
		</array>
		<array>
			<string>TotalAssets</string>
			<string>Total Assets</string>
			<string>Short term liquid assets + long term assets</string>
		</array>
		<array>
			<string>TotalLiabilities</string>
			<string>Total Liabilities</string>
			<string>Total short term liabilities + total long term liabilities</string>
		</array>
		<array>
			<string>RetainedEarnings</string>
			<string>Retained Earnings</string>
			<string>Portion of net income retained for reinvestment instead of being paid out as dividends</string>
		</array>
		<array>
			<string>TotalEquity</string>
			<string>Total Equity</string>
			<string>Preferred stock equity plus common stock equity</string>
		</array>
		<array>
			<string>BookValuePerShare</string>
			<string>Book Value Per Share</string>
			<string>Common equity divided by common shares outstanding. A margin of safety exists when book value &gt; stock price.</string>
		</array>
		<array>
			<string>TangibleBookValuePerShare</string>
			<string>Tangible Book Value Per Share</string>
			<string>Book value minus intangible assets, divided by common shares outstanding</string>
		</array>
		<array>
			<string>DilutedWeightedSharesOutstanding</string>
			<string>Diluted Shares Outstanding</string>
			<string>Total if all sources of conversion (convertible bonds and stock options) were exercised</string>
		</array>
	</array>
</array>
</plist>
